body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    height: 100%;
}

.banner {
    width: 100%;
    height: 50%;
    background-image: url("images/banner.jpg");
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: white;
    display: block;

}

h1 {
    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 10px;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 45px;
    line-height: 85px;

}

.section-a {
    width: 50%;
    height: 100%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.button {
    text-decoration: none;
    background-color: #006400;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;

}