body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    height: 700px;
    background-image: url(images/children.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;

}

.banner-content {
    color: white;
    top: 15%;
    left: 25%;
    text-align: center;
    position: absolute;

}

h1 {

    font-size: 70px;
    font-weight: 500;
}

p {
    font-size: 20px;
}

.button {
    text-decoration: none;
    background-color: #F6BE00;
    padding: 12px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 800;
}

.sponsor-text {
    margin: 5%;
    text-align: center;
}

.amount {
    width: 60%;
    margin-left: 30%;
    margin-right: 20%;
}

div.sponsor-money {
    float: left;
    box-sizing: border-box;
    width: 12%;
    margin: 2%;
    text-align: center;
    background-color: #FAFAFA;
}

.selected-amount {
    border: 2px solid #F6BE00;
}

.other-amount {
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 20px;
}

.cause-list {
    width: 80%;
    margin-left: 12%;
    margin-right: 10%;
}

div.cause {
    float: left;
    box-sizing: border-box;
    width: 20%;
    height: 30%;
    margin: 2%;
    text-align: center;
}

div.cause.no1 {
    background: rgba(79, 157, 166, 0.1);
}

div.cause.no2 {
    background: rgba(255, 89, 89, 0.1);
}

div.cause.no3 {
    background: #FFF4D6;
}

div.cause.no4 {
    background: rgb(144, 238, 144, 0.1);
}

.join {
    margin-top: 30%;
    display: flex;
    height: 600px;

}

.people {

    width: 70%;
    height: 100%;
    background-image: url(images/join-people.jpg);
    background-size: cover;
    opacity: 0.8;
    align-items: center center;
    color: white;

}

.image-text {

    margin-top: 30%;
    box-sizing: border-box;
    width: 100%;
    background: rgba(254, 221, 0, 0.5);
    text-align: center;

}

.join-text {
    padding-left: 4%;
    padding-top: 10%;
    background: #F6BE00;
    align-items: center;
}


.focus-list {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

div.focus {
    width: 25%;
    height: 30%;
    margin-right: 3%;
    margin-left: 5%;
    text-align: center;
}

footer {
    margin-top: 10%;
    background: #231F20;
    color: white;
    text-align: center;
    margin-bottom: 0;
    height: 190px;
}

#footer-text {
    padding-top: 1%;
}

.footer-contact {
    align-items: center;
    margin-bottom: 0;
}